################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/proyecto-desarollo4/v17
/HolaMundoPrueba/.vs/HolaMundoPrueba
